body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.top-banner {
    background-image: url(./assets/img/top-banner.png);
    background-repeat: no-repeat;
}

#folio {
    color: blueviolet;
}

.nutshell {
    color: brown;
    font-size: 10px;
}
.flexible-container {
    display: flex;
    margin-bottom: 50px;
}
h2 {
    font-size: 35px;
}

.box-shadow {
    box-shadow: 10px 10px 30px violet;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    border-radius: 5px;

}



.half-width {
    width: 50%;
    padding-left: 5%;
}
.half-width img {
    width: 70%;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(blueviolet, violet);
    color: wheat;
    border-radius: 5px;
    padding: 10px 30px;
}

.dream {
    background-image: url(./assets/img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience {
    background-image: url(./assets/img/exp-bg.png);
    background-repeat: no-repeat;
}

#awp {
    border-left: 7px solid rgb(87, 10, 87);
}

#ssg {
    border-left: 7px solid rgb(212, 45, 231);
}

footer {
    text-align: center;
}
